.title {
    font-size: xxx-large;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navigation {
    font-size: large;
    border: 2px none #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 3vh 4vw;
    margin: 2em;
    background-color: rgba(0, 39, 124, 0.644);
}

.list {
    list-style-type: none;
    padding: 0;
}

.link:visited,
.link:link {
    color: white;
}
